$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@font-face
	font-family: Meanwhile
	src: url(../fonts/Meanwhile.ttf)

@font-face	
	font-family: Calibri Light
	src: url(../fonts/CalibriLight.ttf)

@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	@extend .absolute
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	
@mixin size($width, $height)
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin pos-2($left, $top)
	left: $left
	top: $top
	
@mixin size-2($width, $height)
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 3vmax
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

*
	@extend .border-box
	font-family: Verdana

.blink-shadow
	@include box-shadow(10px, 10px, white)
	
/*PRE LOAD*/

#pre-load
	background-color: #DCDCDC

#pre-load .pre-load-image
	background-image: url(../pics/pre-loader.png)
	background-size: auto 100%
	background-position: 0% 0%
	width: 0%
	height: 100%
	position: absolute

/*GLOBAL AND MENU*/

body
	position: absolute
	margin: 0%
	width: 100%
	height: 100%
	min-width: 100%
	min-height: 100%
	max-width: 100%
	max-height: 100%
	font-size: 50px

#main
	@extend .absolute-max

.frame
	@extend .absolute-max
	background-size: 100% 100%
	overflow: hidden

/*FRAME 000 (TITLE PAGE)*/

#frame-000
	background-image: url(../pics/s0-bg.jpg)
	
#frame-000 .girl
	@include pos-and-size(876px, 196px, 384px, 804px)
	background-image: url(../pics/s0-girl.gif)
	
#frame-000 .btn
	font-size: 30%
	font-weight: bold
	border-radius: 10px
	cursor: pointer
	
#frame-000 .btn:hover .lbl 
	color: black
	text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white,  0vmin 0vmin 1vmin white

#frame-000 .btn .pic, #frame-000 .btn .lbl
	width: 100%
	height: 50%
	background-size: auto 100%
	background-repeat: no-repeat
	background-position: center
	color: white
	text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black,  0vmin 0vmin 1vmin black
	
#frame-000 .btn .lbl
	padding: 2%
	padding-top: 10%
	text-align: center

#frame-000 .molecules-btn
	@include pos-and-size(138px, 352px, 339px, 512px)
	
#frame-000 .molecules-pic	
	background-image: url(../pics/s0-molecules.png)
	
#frame-000 .btn:hover .molecules-pic
	background-image: url(../pics/s0-molecules-hover.png)
	
#frame-000 .check-btn
	@include pos-and-size(599px, 407px, 248px, 360px)
  
#frame-000 .check-pic	
	background-image: url(../pics/s0-check.png)
	
#frame-000 .btn:hover .check-pic
	background-image: url(../pics/s0-check-hover.png)
  
#frame-000 .research-btn
	@include pos-and-size(1365px, 391px, 266px, 327px)
	
#frame-000 .research-pic	
	background-image: url(../pics/s0-research.png)
	
#frame-000 .btn:hover .research-pic
	background-image: url(../pics/s0-research-hover.png)
	
#frame-000 .facts-btn
	@include pos-and-size(1741px, 406px, 196px, 286px)
	
#frame-000 .facts-pic	
	background-image: url(../pics/s0-facts.png)
	
#frame-000 .btn:hover .facts-pic
	background-image: url(../pics/s0-facts-hover.png)

/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 750px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10

.reg-box.topcorner
	@include pos(30px, 30px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center
	
.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white
	
/*FRAME 101*/

#frame-101 .bg-base
	@extend .absolute-max
	background-image: url(../pics/s1-bg.png)
	background-size: 300%
	background-position: 4% 6%
	
#frame-101 .cloud
	@extend .absolute
	@include pos-and-size-2(40%, 55%, 40%, 50%)
	background-image: url(../pics/s1-cloud.png)
	background-size: 100% 100%
	font-size: 40%
	text-align: center
	padding: 7%
	padding-top: 10%
	
/*FRAME 102*/

#frame-102 .bg-base
	@extend .absolute-max
	background-image: url(../pics/s2-bg.png)
	
#frame-102 .process
	float: left
	width: auto
	text-align: center
	height: 5%
	position: absolute
	top: 0%
	font-size: 30%
	color: white
	padding: 1%
	z-index: 5
	text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black,  0vmin 0vmin 1vmin black

#frame-102 .process i
	z-index: 10
	cursor: pointer

#frame-102 #thermometer
	width: 5%
	height: 30%
	position: absolute
	background-image: url(../pics/thermometer.png)
	background-size: 100% 100%
	top: 65%
	left: 93%

#frame-102 .process i:hover 
	color: red

#frame-102 #heat-kaz 
	top: 15%
	left: 15%

#frame-102 #heat-rus 
	top: 2% 
	left: 12%

#frame-102 #heat-eng 
	top: 9%
	left: 10%
	
#frame-102 #evaporation-eng 
	top: 70%
	left: 2%

#frame-102 #evaporation-rus 
	top: 63%
	left: 7%
	
#frame-102 #evaporation-kaz 
	top: 77%
	left: 7%
	
#frame-102 #boiling-eng 
	top: 65%
	left: 30%
	
#frame-102 #boiling-rus 
	top: 58%
	left: 35%
	
#frame-102 #boiling-kaz 
	top: 72%
	left: 35%
	
#frame-102 #cooling-eng 
	top: 35%
	left: 2%
	
#frame-102 #cooling-rus 
	top: 30%
	left: 13%
	
#frame-102 #cooling-kaz 
	top: 42%
	left: 12%
	
#frame-102 #condensation-eng 
	top: 35%
	left: 40%
	
#frame-102 #condensation-rus 
	top: 30%
	left: 45%
	
#frame-102 #condensation-kaz 
	top: 42%
	left: 45%
	
#frame-102 #freezing-eng 
	top: 30%
	left: 78%
	
#frame-102 #freezing-rus 
	top: 22%
	left: 83%
	
#frame-102 #freezing-kaz 
	top: 36%
	left: 85%
	
#frame-102 #temperature-eng 
	top: 75%
	left: 78%
	
#frame-102 #temperature-rus 
	top: 82%
	left: 78%
	
#frame-102 #temperature-kaz 
	top: 68%
	left: 78%
	
/*FRAME 103*/

#frame-103 .bg-base
	@extend .absolute-max
	background-image: url(../pics/s2-bg.png)

#frame-103 h4
	text-align: center
	opacity: 0.8
	width: 98%
	padding: 1%
	position: absolute
	background-color: white
	font-size: 30%
	top: 7%
	z-index: 1

#frame-103 .process
	@extend .absolute
	font-size: 18%
	text-align: center
	font-weight: bold
	background-size: 100% 100%
	padding-top: 4%
	z-index: 3
	@extend .transition-2s
	cursor: pointer
	
#frame-103 .rus
	background-image: url(../pics/s3-hexagon-rus.png)
	color: white

#frame-103 .eng
	background-image: url(../pics/s3-hexagon-eng.png)
	color: #005952
	
#frame-103 .kaz
	background-image: url(../pics/s3-hexagon-kaz.png)
	color: white
	
#frame-103 .active 
	background-image: url(../pics/s3-hexagon-active.png)
	color: white

#frame-103 .error 
	background-image: url(../pics/s3-hexagon-error.png)
	color: white
	
#frame-103 .heat.rus
	@include pos-and-size(163px, 308px, 191px, 187px)
	
#frame-103 .condensation.kaz
	@include pos-and-size(363px, 308px, 191px, 188px)

#frame-103 .evaporation.rus 
	@include pos-and-size(563px, 308px, 190px, 187px)
	
#frame-103 .cooling.kaz 
	@include pos-and-size(762px, 308px, 191px, 188px)
	
#frame-103 .temperature.eng 
	@include pos-and-size(962px, 308px, 191px, 187px)
	
#frame-103 .boiling.kaz 
	@include pos-and-size(1161px, 308px, 192px, 188px)
	
#frame-103 .heat.kaz 
	@include pos-and-size(1361px, 308px, 191px, 188px)
	
#frame-103 .freezing.eng 
	@include pos-and-size(1561px, 308px, 191px, 187px)
	
#frame-103 .freezing.kaz 
	@include pos-and-size(267px, 461px, 191px, 188px)
	
#frame-103 .boiling.eng 
	@include pos-and-size(467px, 461px, 191px, 187px)
	
#frame-103 .temperature.kaz 
	@include pos-and-size(666px, 461px, 191px, 187px)
	
#frame-103 .condensation.eng 
	@include pos-and-size(866px, 461px, 191px, 187px)

#frame-103 .freezing.rus 
	@include pos-and-size(1066px, 461px, 191px, 187px)

#frame-103 .evaporation.kaz 
	@include pos-and-size(1265px, 461px, 192px, 187px)
	
#frame-103 .condensation.rus
	@include pos-and-size(1465px, 461px, 191px, 187px)
	
#frame-103 .cooling.rus 
	@include pos-and-size(374px, 609px, 191px, 187px)

#frame-103 .heat.eng 
	@include pos-and-size(574px, 609px, 190px, 187px)
	
#frame-103 .boiling.rus 
	@include pos-and-size(773px, 609px, 191px, 187px)
	
#frame-103 .evaporation.eng 
	@include pos-and-size(973px, 609px, 191px, 187px)

#frame-103 .temperature.rus 
	@include pos-and-size(1173px, 609px, 190px, 187px)

#frame-103 .cooling.eng 
	@include pos-and-size(1372px, 609px, 191px, 187px)
	
/*FRAME 104*/

#frame-104 .bg-base, #frame-105 .bg-base
	@extend .absolute-max
	background-image: url(../pics/s2-bg.png)

#frame-104 h4, #frame-105 h4
	text-align: center
	opacity: 0.8
	width: 98%
	padding: 1%
	position: absolute
	background-color: white
	font-size: 30%
	top: 7%
	z-index: 1
	
#frame-104 .bottom-container,
#frame-105 .bottom-container
	@extend .absolute
	background-color: #81c784
	opacity: 0.7
	@include pos-and-size(0px, 898px, 2000px, 102px)

#frame-104 .basket, #frame-105 .basket
	background-color: white
	border: 2px solid #008d7e
	border-radius: 10px
	font-size: 20%
	padding: 0.5%
	padding-top: 1%
	text-align: center
	
#frame-104 .basket .ball, 
#frame-105 .basket .ball
	@extend .absolute-max
	
#frame-104 .ball,
#frame-105 .ball
	font-size: 20%
	border: 2px solid white
	background-color: #81c784
	border-radius: 10px
	padding: 0.5%
	text-align: center
	cursor: pointer
	color: #2c662f
	z-index: 3
	
#frame-104 .ball-background,
#frame-105 .ball-background
	background-color: white
	border-radius: 10px
	z-index: 2
	
#frame-104 .condensation-basket,
#frame-105 .condensation-basket
	@include pos-and-size(799px, 301px, 238px, 73px)
	
#frame-104 .freezing-basket, #frame-105 .freezing-basket
	@include pos-and-size(1596px, 380px, 238px, 73px)
	
#frame-104 .evaporation-basket, #frame-105 .evaporation-basket 
	@include pos-and-size(398px, 695px, 238px, 73px)

#frame-104 .heating-basket, #frame-105 .heating-basket
	@include pos-and-size(1000px, 797px, 238px, 73px)
	
#frame-104 .condensation-ball, #frame-104 .condensation-background,
#frame-105 .condensation-ball, #frame-105 .condensation-background
	@include pos-and-size(103px, 918px, 206px, 53px)

#frame-104 .freezing-ball, #frame-104 .freezing-background,
#frame-105 .freezing-ball, #frame-105 .freezing-background
	@include pos-and-size(1099px, 916px, 206px, 57px)

#frame-104 .evaporation-ball, #frame-104 .evaporation-background,
#frame-105 .evaporation-ball, #frame-105 .evaporation-background
	@include pos-and-size(599px, 916px, 210px, 57px)
	
#frame-104 .heating-ball, #frame-104 .heating-background,
#frame-105 .heating-ball, #frame-105 .heating-background
	@include pos-and-size(1594px, 916px, 208px, 57px)
	
/*FRAME 106*/

#frame-106 .bg-base
	@extend .absolute-max
	background-image: url(../pics/s0-bg.jpg)
	background-size: 100% auto
	@include transition(1s)

#frame-106 .elem
	@extend .absolute-max
	background-position: center

#frame-106 .ice-skater
	background-image: url(../pics/s6-ice-skater.png)
	background-size: 5%
	background-position: 40% 40%
	z-index: 9
	@include transition(10s)

#frame-106 .cloud-and-rain  
	opacity: 0
	background-image: url(../pics/s6-cloud-and-rain.png)
	z-index: 9
	@include transition(5s)

#frame-106 .medeo-evaporation 
	background-image: url(../pics/s6-medeo-evaporation.png) 
	z-index: 9
	@include transition(1s)

#frame-106 .sugar 
	background-image: url(../pics/s6-sugar.png)
	@include transition(1s)

#frame-106 .oil
	background-image: url(../pics/s6-oil.png)
	@include transition(1s)

#frame-106 .shampoo 
	background-image: url(../pics/s6-shampoo.png)
	@include transition(1s)

#frame-106 .juice 
	background-image: url(../pics/s6-juice.png)
	@include transition(1s)
	
#frame-106 .juice-animated
	@include pos-and-size(336px, 0px, 1317px, 1000px)
	background-image: url(../pics/s6-juice-animated.jpg)
	background-size: 1300% 100%
	
#frame-106 .gas, #frame-106 .gas-spread
	@extend .absolute-max
	
/*FRAME 107*/

#frame-107 .title
	text-align: center
	opacity: 0.8
	width: 98%
	padding: 1%
	position: absolute
	background-color: white
	font-size: 30%
	top: 7%
	z-index: 1

#frame-107 .graph
	@extend .absolute
	@include pos-and-size-2(25%, 25%, 50%, 70%)
	background-repeat: no-repeat
	
#frame-107 .cool.graph
	background-image: url(../pics/s7-cool-graph.jpg)
	background-size: 900% 100%

#frame-107 .heat.graph
	background-image: url(../pics/s7-heat-graph.jpg)
	background-size: 1000% 100%
	
#frame-107 .bg
	@extend .absolute-max
	background-image: url(../pics/s7-bg.png)
	
/*FRAME 108*/

#frame-108 .title
	text-align: center
	opacity: 0.8
	width: 98%
	padding: 1%
	position: absolute
	background-color: white
	font-size: 30%
	top: 10%
	z-index: 1

#frame-108 .graph
	@extend .absolute
	@include pos-and-size-2(25%, 25%, 50%, 70%)
	background-image: url(../pics/s7-heat-graph.jpg)
	background-repeat: no-repeat
	background-size: 1000% 100%
	background-position: 100%
	
#frame-108 .task
	@extend .absolute-max
	
#frame-108 .question
	@extend .absolute
	@include pos-and-size(1405px, 234px, 526px,  183px)
	color: #009FD3
	font-size: 30%
	
#frame-108 .tip
	@extend .absolute
	@include pos-and-size(1405px,400px, 526px,  183px)
	color: #FF0000
	font-size: 25%
	
#frame-108 .answer
	cursor: pointer
	
#frame-108 .task-1 .answer, #frame-108 .task-2 .answer
	@extend .absolute
	width: 4%
	height: 8%
	border-radius: 50%
	background-color: #FF0000
	color: white
	padding: 0.6%
	padding-top: 1.6%
	text-align: center
	font-size: 20%
	
#frame-108 .task .answer:hover
	background-color: #03A0D1
	
#frame-108 .task-1 .answer-1, #frame-108 .task-2 .answer-1
	@include pos(634px,  821px)
	
#frame-108 .task-1 .answer-2, #frame-108 .task-2 .answer-2
	@include pos(700px, 740px)
	
#frame-108 .task-1 .answer-3, #frame-108 .task-2 .answer-3
	@include pos(906px, 573px)
	
#frame-108 .task-1 .answer-4, #frame-108 .task-2 .answer-4
	@include pos(931px, 417px)

#frame-108 .task-1 .answer-5, #frame-108 .task-2 .answer-5
	@include pos(1197px, 294px)
	
#frame-108 .task-3 .answer
	@extend .absolute
	@include transition(2s)
	@include size(156px, 41px)
	border-radius: 10px
	background-color: #FF0000
	color: white
	padding: 0.5%
	text-align: center
	font-size: 20%

#frame-108 .task-3 .answer-3 
	@include pos(755px, 790px)

#frame-108 .task-3 .answer-2
	@include pos(1021px, 570px)
	
#frame-108 .task-3 .answer-1
	@include pos(1200px, 390px)
	
/*FRAME 109*/

#frame-109 .task
	font-size: 20%
	z-index: 3
	@include pos-and-size(55px, 100px, 600px, 500px)
	line-height: 150%
	
#frame-109 .red
	color: red

#frame-109 .sketchpad-container
	@extend .absolute-max

#frame-109 .responsive-sketchpad
	background-repeat: repeat
	background-image: url(../pics/s9-graph-notepad.png)
	background-size: auto 100%

#frame-109 #sketchpad-controls
	@extend .absolute
	@include pos-and-size-2(95%, 10%, 5%, 90%)
	
#frame-109 #sketchpad-controls .control
	width: 100%
	height: 10%
	font-size: 50%
	text-align: center
	cursor: pointer
	
#frame-109 #sketchpad-controls .control:hover
	font-size: 60%
	
#frame-109 #sketchpad-controls #red
	color: red
	
#frame-109 #sketchpad-controls #blue
	color: blue
	
/*FRAME 110*/

#frame-110 
	.elem
		@extend .absolute
		background-size: 100% 100%
	.molecule
		@include transition(5s)
	
	.molecule.oxygen
		@include pos-and-size-2(45%, 70%, 10%, 20%)
		background-image: url(../pics/s10-o.png)
		z-index: 2
	 
	.molecule.hydrogen
		background-image: url(../pics/s10-h.png)
		z-index: 1
	
	.molecule.hydrogen-1
		@include pos-and-size-2(20%, 20%, 8%, 16%)
	
	.molecule.hydrogen-2
		@include pos-and-size-2(72%, 20%, 8%, 16%)
	
	.molecule.oxygen.center
		@include pos-and-size-2(45%, 40%, 10%, 20%)
	
	.molecule.hydrogen-1.center
		@include pos-and-size-2(40%, 35%, 8%, 16%)
	
	.molecule.hydrogen-2.center
		@include pos-and-size-2(50%, 35%, 8%, 16%)
	
	.glass
		@include pos-and-size-2(40%, 10%, 20%, 70%)
		@include transition(3s)
	
	.glass.ice
		background-image: url(../pics/s10-glass-ice.png)
		
	.glass.water
		background-image: url(../pics/s10-glass-water.png)
		
	.glass.vapor
		background-image: url(../pics/s10-glass-vapor.png)
	
	.glass.big
		@include pos-and-size-2(0%, -200%, 100%, 350%)

	.structure
		@include pos-and-size-2(50%, 50%, 0%, 0%)
		@include transition(3s)
		z-index: 3
		background-color: white
		border: 2px solid black
		border-radius: 50%
		
	.structure.big
		@include pos-and-size-2(30%, 20%, 40%, 80%)
	
	.structure.ice 
		background-image: url(../pics/s10-ice-structure.gif)
		
	.structure.water
		background-image: url(../pics/s10-water-structure.gif)
		
	.structure.vapor
		background-image: url(../pics/s10-vapor-structure.gif)
		
#frame-111
	.state-change
		@extend .absolute
		@include pos-and-size-2(20%, 20%, 60%, 80%)
		background-image: url(../pics/s11-state-change.jpg)
		background-size: 1500% 100%
		
	.structure
		border-radius: 50%
		border: 2px solid black
		background-color: white
		
	.ice-structure
		@extend .absolute
		@include pos-and-size(520px, 119px, 171px, 171px)
		background-image: url(../pics/s10-ice-structure.gif)
		
	.water-structure
		@extend .absolute
		@include pos-and-size(920px, 119px, 171px, 171px)
		background-image: url(../pics/s10-water-structure.gif)
		
	.vapor-structure
		@extend .absolute
		@include pos-and-size(1320px, 119px, 171px, 171px)
		background-image: url(../pics/s10-vapor-structure.gif)
		
#frame-112
	.bg-base
		@extend .absolute-max
		background-image: url(../pics/s12-bg.png)
		
	.title
		text-align: center
		opacity: 0.8
		@include pos-and-size-2(70%, 10%, 30%, 15%) 
		padding: 1%
		position: absolute
		background-color: white
		font-size: 30%
		z-index: 1

	.basket 
		border: 3px solid blue
		border-radius: 50%
		
	.ball
		border: 2px solid blue
		border-radius: 50%
	
	.ice.basket
		@include pos-and-size(807px, 581px, 350px, 350px)
	
	.water.basket
		@include pos-and-size(400px, 283px, 350px, 350px)
		
	.vapor.basket
		@include pos-and-size(807px, 33px, 350px, 350px)
		
	.ice.ball
		@include pos-and-size(77px, 102px, 215px, 209px)
		background-image: url(../pics/s12-solid.png)
		
	.water.ball
		@include pos-and-size(77px, 699px, 215px, 209px)
		background-image: url(../pics/s12-liquid.png)
		
	.vapor.ball
		@include pos-and-size(77px, 395px, 215px, 209px)
		background-image: url(../pics/s12-gas.png)
		
#frame-113
	.video-container
		@extend .absolute-max
		
#frame-114
	.elem
		@extend .absolute
		@include pos-and-size-2(25%, 0%, 50%, 100%)

	.molecules-animated-off 
		background-image: url(../pics/s14-molecules-off.gif)
		z-index: 5

	.molecules-animated-on 
		background-image: url(../pics/s14-molecules-on.png)
		background-size: 1400% 100%
		z-index: 5
		
	.teapot-on 
		background-image: url(../pics/s14-teapot-on.png)
	.teapot-off 
		background-image: url(../pics/s14-teapot-off.png)
	.teapot-animated 
		background-image: url(../pics/s14-teapot-boiling.gif)
	.thermometer-animated 
		background-image: url(../pics/s14-thermometer-on.png)
		background-size: 1200% 100%
		
#frame-115
	.question
		width: 10%
		height: 20%
		position: absolute
		font-size: 30%
		text-align: center
		color: black

	.molecule-label, .basket
		width: 10%
		height: 20%
		position: absolute
		border: 3px solid black
		font-size: 70%
		font-weight: bold
		text-align: center
		padding-top: 2.4%
		color: white
		border-radius: 50%
	
	.basket 
		z-index: 1
	
	.molecule-label 
		z-index: 2
	
	#heat-label
		top: 30%
		left: 10%

	#cool-label
		top: 30% 
		left: 85%

	.draggable-container
		width: 40%
		height: 14%
		position: absolute

	.draggable-container *
		position: relative
		display: block
		float: left
		background-color: white

	.draggable-container .handle
		width: 20%
		height: 100%
		font-size: 60%
		text-align: center
		color: white
		border: 2px solid black
		border-radius: 50%
		padding-top: 5%
		background-color: #84C642

	.answer
		border: 3px solid black
		border-radius: 10px
		font-size: 22%
		left: 5%
		top: 10%
		width: 60%
		height: 80%
		padding: 3%

	.draggable-container .answer 
		width: 70%
	
	#d-container-1 
		left: 30%
		top: 20%
		
	#d-container-2 
		left: 30%
		top: 35%
		
	#d-container-3 
		left: 30%
		top: 50%
	
	#d-container-4 
		left: 30%
		top: 65%

	#basket-1 
		top: 40%
		left: 3%
		background-color: red
		
	#basket-2 
		top: 40%
		left: 17%
		background-color: red
		
	#basket-3 
		top: 40%
		left: 85%
		background-color: #000099
		
	#basket-4 
		top: 60%
		left: 85%
		background-color: #000099

	.is-dragging
		z-index: 10
		
	.title
		text-align: center
		opacity: 0.8
		width: 98%
		padding: 1%
		position: absolute
		background-color: white
		font-size: 25%
		top: 5%
		z-index: 1
		
#frame-116
	.bg-base
		@extend .absolute-max
		background-image: url(../pics/s16-bg-2.png)
		
	.girl
		@extend .absolute-max
		background-image: url(../pics/s16-bg-1.png)
		
	.text
		@extend .absolute
		@include pos-and-size(745px, 641px, 1206px, 328px)
		font-size: 38%
		text-shadow: 0px 0px 10px white, 0px 0px 10px white,  0px 0px 10px white
		line-height: 2em
		
	.ball
		@extend .absolute
		font-size: 25%
		z-index: 4
		color: white
		text-shadow: 0px 0px 10px black, 0px 0px 10px black,  0px 0px 10px black
		cursor: pointer
	
	.ball-1
		@include pos-and-size(750px, 502px, 152px, 48px)

	.ball-2
		@include pos-and-size(916px, 513px, 188px, 44px)
		
	.ball-3 
		@include pos-and-size(876px, 358px, 266px, 52px)
		
	.ball-4
		@include pos-and-size(1380px, 414px, 143px, 44px)
		
	.ball-5
		@include pos-and-size(1682px, 74px, 172px, 59px)
	
	.basket
		display: inline-block
		font-size: 100%
		height: 1.5em
		border-bottom: 2px solid black
		z-index: 5
		text-align: center
		border-bottom: 1px solid black
		
	.basket-1
		min-width: 3em
		max-width: 5em
		
	.basket-2
		min-width: 5em
		max-width: 8em
		
	.basket-3
		min-width: 6em
		max-width: 9em
		
	.basket-4
		min-width: 7em
		max-width: 6em
	
	.basket-5
		min-width: 10em
		max-width: 14em

#frame-201
	.bg-base
		@extend .absolute-max
		background-image: url(../pics/test-bg.png)
	
	.old-man
		@extend .absolute
		@include pos-and-size(2px, 551px, 469px, 449px)
		border: 2px solid black
		
	.old-man.happy
		background-color: green
		background-image: url(../pics/grandpa-happy.png)
		z-index: 2
		
	.old-man.sad
		background-color: #f79191
		background-image: url(../pics/grandpa-sad.png)
		z-index: 2
		
	.old-man.neutral
		background-color: #90f4b8
		background-image: url(../pics/grandpa-neutral.png)
		z-index: 1
		
	.task 
		@extend .absolute-max
		z-index: 3
		
	.question
		@extend .absolute
		@include pos-and-size-2(30%, 10%, 45%, 20%)
		font-size: 30%
		padding: 1%
		
	.task-1 .question
		font-size: 40%
		
	.task-3 .question
		font-size: 45%
		
	.task-4 .question
		font-size: 35%
		
	.task-6 .question
		font-size: 40%
		
	.answer 
		@extend .absolute
		font-size: 25%
		@include size(1210px, 63px)
		padding: 0.5%
		cursor: pointer
		color: black
		text-shadow: 0vmin 0vmin 1vmin white
	
	.answer:hover
		color: white
		text-shadow: 0vmin 0vmin 1vmin white
		
	.answer-1
		@include pos(800px, 400px)
		
	.answer-2
		@include pos(800px, 500px)

	.answer-3
		@include pos(800px, 600px)

	.answer-4
		@include pos(800px, 700px)
		
	.answer-5
		@include pos(800px, 800px)
	
	.ball
		border-radius: 50%
		background-color: white
		font-size: 20%
		padding: 2%
		text-align: center
		padding-top: 6%
		@include pos-and-size(1068px, 479px, 380px, 380px)
		cursor: pointer

	.basket
		border-radius: 50%
		@extend .absolute
		@include size(281px, 281px)
		background-size: 100% 100%
		font-size: 30%
		text-align: center
		padding-top: 5%
		color: white
		text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black,  0vmin 0vmin 1vmin black
	
	.basket-1
		@include pos(62px, 124px)
		background-image: url(../pics/test-dew-circle.png)
		
	.basket-2
		@include pos(584px, 405px)
		background-image: url(../pics/test-fog-circle.png)
		
	.basket-3
		@include pos(725px, 690px)
		background-image: url(../pics/test-frost-circle.png)
		
	.basket-4
		@include pos(1604px, 309px)
		background-image: url(../pics/test-cloud-circle.png)
		
	.basket-5
		@include pos(1566px, 690px)
		background-image: url(../pics/test-ice-circle.png)
  
	.task-12 .question
		font-size: 23%
		
	.task-13 .question
		font-size: 23%
		
	.task-14 .question
		font-size: 45%
		
	.graph
		@extend .absolute
		border-radius: 50%
		border: 2px dashed grey
		@include pos-and-size(35px, 70px, 389px, 389px)
		
	.graph-1
		background-image: url(../pics/test-graph-1.png)
		
	.graph-2
		background-image: url(../pics/test-graph-2.png)
		
	.graph-3
		background-image: url(../pics/test-graph-3.png)
		
	.column
		@extend .absolute
		@include size(727px, 109px)
		font-size: 30%
		text-align: left
		line-height: 2em
		color: black
		text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white,  0vmin 0vmin 1vmin white
	
	.column-1
		@include pos(758px, 484px)
		
	.column-2
		@include pos(758px, 604px)
		
	.column-3 
		@include pos(758px, 727px)
	
	.column-4 
		@include pos(758px, 848px)
	
	.answerfield
		display: inline-block
		margin-right: 1em
		width: 3em
		border: none
		border-bottom: 2px solid black
		background-color: transparent
		font-size: 150%
		
	.check-button
		@extend .absolute
		font-size: 25%
		border-radius: 10px
		border: 2px solid grey
		@include pos-and-size(1640px, 848px, 308px, 97px)
		padding: 1.2%
		text-align: center
		background-color: white
		cursor: pointer
		
	.check-button:hover
		background-color: black
		color: white
		
	.timer
		@extend .absolute
		@include pos-and-size(1623px, 14px, 172px, 108px)
		font-size: 25%
		border-radius: 10px
		border: 2px solid black
		background-color: white
		padding: 0.5
		padding-top: 2%
		text-align: center
	
#frame-301 
	.bg-base
		@extend .absolute-max
		background-image: url(../pics/research-bg.png)
		
	.text
		@extend .absolute
		@include pos-and-size-2(39%, 20%, 30%, 60%)
		font-size: 30%
		text-align: center
		cursor: pointer		
		
	.facts-home-button
		@extend .absolute
		display: block
		font-size: 50%
		@include pos-and-size(1889px, 28px, 91px, 91px)		
		cursor: pointer
		border-radius: 50%
		background-color: #8DD3FD
		border: 1px solid black
		padding: 0.4em
		color: white
		
	.facts-home-button:hover
		border: 1px solid #FEB67A
		color: black
		
#frame-401
	.fact
		@extend .absolute
		@include size(350px, 350px)
		border-radius: 50%
		font-size: 30%
		color: transparent
		cursor: pointer
		@include transition(1s)
		text-align: center
	
	.fact:hover
		border: 2px solid green
		
	.fact-1
		@include pos(30px, 225px)
		background-image: url(../pics/facts-cooker.png)

	.fact-2
		@include pos(424px, 225px)
		background-image: url(../pics/facts-mountain.png)
		
	.fact-3
		@include pos(825px, 225px)
		background-image: url(../pics/facts-fridge.png)
		
	.fact-4
		@include pos(1226px, 225px)
		background-image: url(../pics/facts-boiling-point.png)
		
	.fact-5
		@include pos(1627px, 225px)
		background-image: url(../pics/facts-petrol-station.png)
		
	.source
		@extend .absolute
		@include pos-and-size(300px, 790px, 1200px, 147px)
		font-size: 20%
		text-align: center
		
	.fact.center
		@include pos-and-size-2(25%, 0%, 50%, 100%)
		background-image: none
		background-color: white
		border: 2px solid blue
		padding: 5%
		padding-top: 15%
		z-index: 3
	
	.facts-home-button
		@extend .absolute
		display: block
		font-size: 50%
		@include pos-and-size(1889px, 28px, 91px, 91px)		
		cursor: pointer
		border-radius: 50%
		background-color: #8DD3FD
		border: 1px solid black
		padding: 0.4em
		color: white
		
	.facts-home-button:hover
		border: 1px solid #FEB67A
		color: black
		
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 31%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 85%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button-close
	color: gray

#frame-000 .annotation-button:hover
	color: blue

#frame-000 .copyright
	@extend .absolute
	z-index: 19
	left: 77%
	top: 96%
	width: 23%
	height: 5%
	font-size: 15%
	color: #000

/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	display: block
	z-index: 25
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 24

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 50%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light
